
/* ============================================== */
/* HDTV                                           */
/*                                      1920x1080 */
/* ============================================== */
@media all and (min-width: 1080px) and (max-width: 1920px) {
/*  */
	
}
/* ============================================== */
/* Widescreen                                     */
/*                                       1280x800 */
/* ============================================== */
@media all and (min-width: 800px) and (max-width: 1280px) {
/*  */
	
}

/* ============================================== */
/* Twitter Bootstrap                              */
/*                                                */
/* ============================================== */
@media all and (min-width: 980px) {
/*  */

}

/* ============================================== */
/* Twitter Bootstrap                              */
/*                                                */
/* ============================================== */
@media all and (max-width: 979px) {
/*  */

}

/* ============================================== */
/* iPad Landscape and Narrow browser              */
/*                                       1024x768 */
/* ============================================== */
@media all and (min-width: 768px) and (max-width: 1024px) {
/*  */

}

/* ============================================== */
/* iPad Portrait and Narrower browsers            */
/*                                       768x1024 */
/* ============================================== */
@media all and (max-width: 768px) {
/*  */

}

/* ============================================== */
/* Small Tablet Landscape                         */
/*                                        800x600 */
/* ============================================== */
@media all and (min-width: 600px) and (max-width:800px) {
/*  */

}

/* ============================================== */
/* Small Tablet Portrait                          */
/*                                        600x800 */
/* ============================================== */
@media all and (max-width:600px) {
/*  */
	

}

/* ============================================== */
/* iPhone5/Android landscape (& narrow browser)   */
/*                                        568x320 */
/* ============================================== */
@media all and (min-width: 320px) and (max-width:568px) {
/*  */
	
	
}

/* ============================================== */
/* iPhone4/Android landscape (& narrow browser)   */
/*                                        480x320 */
/* ============================================== */
@media all and (min-width: 320px) and (max-width:480px) {
/*  */
}

/* ============================================== */
/* iPhone4/Android portrait               320x480 */
/* iPhone5 portrait                       320x568 */
/* ============================================== */
@media all and (max-width:320px) {
/*  */

}

/* ============================================== */
/* Smaller devices                                */
/* Android Landscape                      320x240 */
/* ============================================== */
@media all and (min-width:240px) and (max-width:320px) {
/*  */

}

/* ============================================== */
/* Smaller devices                                */
/* Android Portrait                       240x320 */
/* ============================================== */
@media all and (max-width:240px) {
/*  */

}
